* {
    font-family: sans-serif;
    box-sizing: border-box;
}


#exitNav {
    width: 80px;
}

.list-group-item {
    font-size: 18px;
}

li {
    max-width: 100%;
    word-wrap: break-word;
}

.hidden {
    display: none;
}